@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:wght@600&family=Roboto&display=swap");
* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  outline: none;
  border: none;
}

html {
    scroll-behavior: smooth;
    font-weight: 700;
} 
/*COLORES*/

.bg-blue {
    background-color: #330093;
}

.bg-white {
    background-color: #D1D1D1;
}

.main-color {
    color: #D1D1D1;
}

.main-color:hover {
    color: rgb(255, 251, 0);
}

.sec-color{
    color: rgb(255, 251, 0);
}

.sec-color:hover{
    color: rgb(210, 207, 3);
}

.footer-color {
  background-color: #121212;
  color: #AAA;
}

.btn-primario {
  color: #D1D1D1;
  background-color: #121212;
}

.btn-primario:hover {
  color: #a173f6;
  background-color: #232323;
}
/*PAGINA*/

body {
    background-color: #053C4F;
    padding: 0;
    margin: 0;
 }
 h2 {
    text-align: center;
    font-size: 1.4em;
 }


 header {
    text-align: center;
    color: #9ea2a3;;
 }

/* NAV */ 

nav {
    background-color: #000;
  }
  nav .nav {
    display: flex;
    justify-content: space-between;
  }
  nav .logo-texto {
    width: 80%;
  }
  nav .burger {
    width: 4vw;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  

/* HISTORIA */

.historia__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .historia__container .historia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .historia__container .historia img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px;
    outline: none;
  }

  .historia__container .historia {
    max-width: 900px;
    width: 80%;
  }

  .principito2_2 {
    max-width: 30%;
  }
  @media (min-width: 992px) {
    .historia__container .historia {
      max-width: 900px;
      width: 45%;
    }
  }
  .historia__container .historia img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  
/*NOSOTROS*/ 
.card {
  border: none;
}
/*section {
    text-align: center;
    margin:  0 auto;
    max-width: 95%;
    color:#9ea2a3;;
    div {
        margin: 20px, 0, 0,0;
        h2 {
            margin-bottom: 10px;
        }
    }
}

.instruc {
    text-align: left;
}
.container {
    display: flex;
    flex-direction: column;
}

ol {
    margin-right: 10px;
}

.principito {

    width: 50%;
}
footer {
    height: 100px;
    color: #888;
    text-align: center;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


@media only screen and (max-width: 800px) {
    .container {

        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: center;
        
    }
    h2 {
        font-size: 1.1em;
    }
    p{

        margin: 15px;
    }

}*/
/*.colores{
    #1e1a0f
    #3e3226
    #644b35
    #a77052
    #dba98e
    #d7caaa
    #689399
    #575733
    #333d22
    #152411
}
*/
